.App {
  text-align: center;
  margin: 0 auto;
  width: 700px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgb(54, 54, 54)
}
.form h5 {
text-align: left;
padding: 20px 20px
} 

.form {
  text-align: left;
  line-height: 0.8;
  margin-bottom: 20px;
  padding: 0 20px
}

.form label {
  padding: 0 5px
  
}

.form input {
  width: 300px;
  
}

.form button {
box-shadow: 1px 1px 5px black;
  width: 300px;
  
}